@{
  Layout = "_Layout";
}

<h1>Welcome Dr. Sillystringz (if I can even say Dr.)</h1>
<p>If we are being honest I'm just going to come out and say it.<br> I don't think you actually have a doctrite</p>
<h2>This is an app just for you to be able to keeptrack of your employees and the machines they are working on.</h2>
<p>@Html.ActionLink("See all machines", "Index", "Machines")</p>
<p>@Html.ActionLink("See all engineers", "Index",
  "Engineers")</p>