@{
  Layout = "_Layout";
}

<h1>Welcome Dr. Sillystringz</h1>
<h2>(if I can even say Dr.)</h2>
<p>If we are being honest, I'm just going to come out and say it.<br> I don't think you actually have a doctorate</p>
<h3>This is an app just for you to be able to keep track of your employees,<br> and the machines they are working on.
</h3>
<p>@Html.ActionLink("See all machines", "Index", "Machines")</p>
<p>@Html.ActionLink("See all engineers", "Index",
  "Engineers")</p>